In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv(r'D:\数学建模\集训4\cleaned_online_retail.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397924 non-null  int64
 1   StockCode    397924 non-null  object
 2   Description  397924 non-null  object
 3   Quantity     397924 non-null  int64
 4   InvoiceDate  397924 non-null  object
 5   UnitPrice    397924 non-null  float64
 6   CustomerID   397924 non-null  float64
 7   Country      397924 non-null  object
 8   TotalPrice   397924 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 27.3+ MB

In [6]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [32]:
basket = (data
          .groupby(['InvoiceNo', 'StockCode'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

In [33]:
basket

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581584,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581586,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
# 将数量大于1的商品标记为1（已购买），否则标记为0
basket1 = basket.applymap(lambda x: 1 if x > 0 else 0)

C:\Users\25492\AppData\Local\Temp\ipykernel_19068\961525181.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket1 = basket.applymap(lambda x: 1 if x > 0 else 0)

In [65]:
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules
# 设置最小支持度（频率）
min_support = 0.02

# 使用FP-Growth算法找出频繁项集
frequent_itemsets = fpgrowth(basket1, min_support=min_support, use_colnames=True)

# 查看结果
frequent_itemsets

D:\Anaconda\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support         itemsets
0    0.106711         (85123A)
1    0.023792          (22633)
2    0.074180          (84879)
3    0.037279          (21754)
4    0.029942          (21755)
..        ...              ...
246  0.023899   (23209, 23203)
247  0.022605   (23209, 20725)
248  0.025248  (85099B, 23203)
249  0.023090   (23202, 23203)
250  0.024978   (23301, 23300)

[251 rows x 2 columns]

In [66]:
# 设定最小置信度
min_confidence = 0.3

# 生成关联规则
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=min_confidence)

# 查看规则
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(22726),(22727),0.042566,0.047313,0.028593,0.671736,14.197612,0.026579,2.902200,0.970892
1,(22727),(22726),0.047313,0.042566,0.028593,0.604333,14.197612,0.026579,2.419798,0.975731
2,(22728),(22727),0.033071,0.047313,0.021364,0.646003,13.653725,0.019799,2.691230,0.958457
3,(22727),(22728),0.047313,0.033071,0.021364,0.451539,13.653725,0.019799,1.762987,0.972786
4,(82482),(82494L),0.047259,0.043753,0.025248,0.534247,12.210597,0.023180,2.053119,0.963645
...,...,...,...,...,...,...,...,...,...,...
74,(23203),(85099B),0.058265,0.086319,0.025248,0.433333,5.020167,0.020219,1.612379,0.850349
75,(23202),(23203),0.041649,0.058265,0.023090,0.554404,9.515218,0.020664,2.113429,0.933797
76,(23203),(23202),0.058265,0.041649,0.023090,0.396296,9.515218,0.020664,1.587453,0.950273
77,(23301),(23300),0.040785,0.034258,0.024978,0.612434,17.877282,0.023581,2.491813,0.984204
78,(23300),(23301),0.034258,0.040785,0.024978,0.729134,17.877282,0.023581,3.541286,0.977552

In [67]:
# 过滤支持度和置信度较高的规则
filtered_rules = rules[(rules['support'] > 0.025) & (rules['confidence'] > 0.4)]

# 显示结果
filtered_rules.sort_values(by='lift', ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
53,(22697),(22699),0.037279,0.042242,0.029186,0.782923,18.534184,0.027612,4.412071,0.982679
52,(22699),(22697),0.042242,0.037279,0.029186,0.690932,18.534184,0.027612,3.114920,0.987771
0,(22726),(22727),0.042566,0.047313,0.028593,0.671736,14.197612,0.026579,2.902200,0.970892
1,(22727),(22726),0.047313,0.042566,0.028593,0.604333,14.197612,0.026579,2.419798,0.975731
4,(82482),(82494L),0.047259,0.043753,0.025248,0.534247,12.210597,0.023180,2.053119,0.963645
5,(82494L),(82482),0.043753,0.047259,0.025248,0.577065,12.210597,0.023180,2.252690,0.960111
24,(22384),(20727),0.050227,0.056754,0.025032,0.498389,8.781497,0.022182,1.880432,0.932985
25,(20727),(22384),0.056754,0.050227,0.025032,0.441065,8.781497,0.022182,1.699254,0.939442
23,(20725),(22384),0.069540,0.050227,0.028215,0.405741,8.078209,0.024723,1.598248,0.941696
22,(22384),(20725),0.050227,0.069540,0.028215,0.561762,8.078209,0.024723,2.123181,0.922547
36,(20727),(22383),0.056754,0.056269,0.025086,0.442015,7.855411,0.021893,1.691321,0.925209
37,(22383),(20727),0.056269,0.056754,0.025086,0.445829,7.855411,0.021893,1.702085,0.924733
9,(22386),(85099B),0.046990,0.086319,0.029456,0.626866,7.262239,0.025400,2.448666,0.904819
38,(22383),(20725),0.056269,0.069540,0.028000,0.497603,7.155602,0.024087,1.852041,0.911541
39,(20725),(22383),0.069540,0.056269,0.028000,0.402638,7.155602,0.024087,1.579830,0.924542
35,(20725),(20727),0.069540,0.056754,0.027892,0.401086,7.067046,0.023945,1.574927,0.922660
34,(20727),(20725),0.056754,0.069540,0.027892,0.491445,7.067046,0.023945,1.829614,0.910153
16,(22382),(20725),0.053302,0.069540,0.025194,0.472672,6.797090,0.021488,1.764480,0.900898
74,(23203),(85099B),0.058265,0.086319,0.025248,0.433333,5.020167,0.020219,1.612379,0.850349

In [69]:
for n in range(2):
    for i in range(filtered_rules.shape[0]):
        stock_code = list(filtered_rules.iloc[i,n])[0]
        stock = data[data['StockCode']==stock_code]['Description'].drop_duplicates()
        stock_name = ''
        for j in range(len(stock)):
            stock_name += stock.iloc[j] + '/'
        filtered_rules.iloc[i,n] = stock_name

In [70]:
filtered_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,ALARM CLOCK BAKELIKE GREEN/,ALARM CLOCK BAKELIKE RED /,0.042566,0.047313,0.028593,0.671736,14.197612,0.026579,2.902200,0.970892
1,ALARM CLOCK BAKELIKE RED /,ALARM CLOCK BAKELIKE GREEN/,0.047313,0.042566,0.028593,0.604333,14.197612,0.026579,2.419798,0.975731
4,WOODEN PICTURE FRAME WHITE FINISH/,WOODEN FRAME ANTIQUE WHITE /,0.047259,0.043753,0.025248,0.534247,12.210597,0.023180,2.053119,0.963645
5,WOODEN FRAME ANTIQUE WHITE /,WOODEN PICTURE FRAME WHITE FINISH/,0.043753,0.047259,0.025248,0.577065,12.210597,0.023180,2.252690,0.960111
9,JUMBO BAG PINK POLKADOT/,JUMBO BAG RED RETROSPOT/,0.046990,0.086319,0.029456,0.626866,7.262239,0.025400,2.448666,0.904819
16,LUNCH BAG SPACEBOY DESIGN /,LUNCH BAG RED RETROSPOT/LUNCH BAG RED SPOTTY/,0.053302,0.069540,0.025194,0.472672,6.797090,0.021488,1.764480,0.900898
22,LUNCH BAG PINK POLKADOT/,LUNCH BAG RED RETROSPOT/LUNCH BAG RED SPOTTY/,0.050227,0.069540,0.028215,0.561762,8.078209,0.024723,2.123181,0.922547
23,LUNCH BAG RED RETROSPOT/LUNCH BAG RED SPOTTY/,LUNCH BAG PINK POLKADOT/,0.069540,0.050227,0.028215,0.405741,8.078209,0.024723,1.598248,0.941696
24,LUNCH BAG PINK POLKADOT/,LUNCH BAG BLACK SKULL./,0.050227,0.056754,0.025032,0.498389,8.781497,0.022182,1.880432,0.932985
25,LUNCH BAG BLACK SKULL./,LUNCH BAG PINK POLKADOT/,0.056754,0.050227,0.025032,0.441065,8.781497,0.022182,1.699254,0.939442
34,LUNCH BAG BLACK SKULL./,LUNCH BAG RED RETROSPOT/LUNCH BAG RED SPOTTY/,0.056754,0.069540,0.027892,0.491445,7.067046,0.023945,1.829614,0.910153
35,LUNCH BAG RED RETROSPOT/LUNCH BAG RED SPOTTY/,LUNCH BAG BLACK SKULL./,0.069540,0.056754,0.027892,0.401086,7.067046,0.023945,1.574927,0.922660
36,LUNCH BAG BLACK SKULL./,LUNCH BAG SUKI DESIGN /LUNCH BAG SUKI DESIGN /,0.056754,0.056269,0.025086,0.442015,7.855411,0.021893,1.691321,0.925209
37,LUNCH BAG SUKI DESIGN /LUNCH BAG SUKI DESIGN /,LUNCH BAG BLACK SKULL./,0.056269,0.056754,0.025086,0.445829,7.855411,0.021893,1.702085,0.924733
38,LUNCH BAG SUKI DESIGN /LUNCH BAG SUKI DESIGN /,LUNCH BAG RED RETROSPOT/LUNCH BAG RED SPOTTY/,0.056269,0.069540,0.028000,0.497603,7.155602,0.024087,1.852041,0.911541
39,LUNCH BAG RED RETROSPOT/LUNCH BAG RED SPOTTY/,LUNCH BAG SUKI DESIGN /LUNCH BAG SUKI DESIGN /,0.069540,0.056269,0.028000,0.402638,7.155602,0.024087,1.579830,0.924542
52,ROSES REGENCY TEACUP AND SAUCER /,GREEN REGENCY TEACUP AND SAUCER/,0.042242,0.037279,0.029186,0.690932,18.534184,0.027612,3.114920,0.987771
53,GREEN REGENCY TEACUP AND SAUCER/,ROSES REGENCY TEACUP AND SAUCER /,0.037279,0.042242,0.029186,0.782923,18.534184,0.027612,4.412071,0.982679
74,JUMBO BAG DOILEY PATTERNS/JUMBO BAG VINTAGE DO...,JUMBO BAG RED RETROSPOT/,0.058265,0.086319,0.025248,0.433333,5.020167,0.020219,1.612379,0.850349

In [17]:
filtered_rules.shape

(56, 10)

In [35]:
basket.sum(0).sort_values(ascending=False)[:10]

StockCode
23843     80995.0
23166     77916.0
84077     54415.0
22197     49183.0
85099B    46181.0
85123A    36782.0
84879     35362.0
21212     33693.0
23084     27202.0
22492     26076.0
dtype: float64

In [38]:
data[data['StockCode']=='22197']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
219,536390,22197,SMALL POPCORN HOLDER,100,2010-12-01 10:19:00,0.72,17511.0,United Kingdom,72.00
384,536404,22197,SMALL POPCORN HOLDER,36,2010-12-01 11:29:00,0.85,16218.0,United Kingdom,30.60
523,536409,22197,SMALL POPCORN HOLDER,2,2010-12-01 11:45:00,0.85,17908.0,United Kingdom,1.70
601,536412,22197,SMALL POPCORN HOLDER,5,2010-12-01 11:49:00,0.85,17920.0,United Kingdom,4.25
794,536464,22197,SMALL POPCORN HOLDER,5,2010-12-01 12:23:00,0.85,17968.0,United Kingdom,4.25
...,...,...,...,...,...,...,...,...,...
397119,581458,22197,POPCORN HOLDER,1500,2011-12-08 18:45:00,0.72,17949.0,United Kingdom,1080.00
397120,581459,22197,POPCORN HOLDER,1200,2011-12-08 18:46:00,0.72,17949.0,United Kingdom,864.00
397351,581476,22197,POPCORN HOLDER,100,2011-12-09 08:48:00,0.72,12433.0,Norway,72.00
397696,581538,22197,POPCORN HOLDER,4,2011-12-09 11:34:00,0.85,14446.0,United Kingdom,3.40
397840,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581.0,United Kingdom,20.40

In [ ]:
data[data['StockCode']=='22197']